*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
.main_body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
   
} 

.testimonial_container{
 background-color: #000080;
 color: #ffffff;
} 
.testimonial{
    margin-left: 15px;
}
.Testimonial_text_container{
  margin-left: 15px;
  padding-top: 60px;
}
.testimonial_img{
    margin-left: 15px;
        height:20rem;
        margin-bottom: 40px;
        margin-top: 30px;
}

.first_header{
      margin-bottom: 30px;
      background-image: url("https://res.cloudinary.com/cmp84378/image/upload/v1611146274/Image_Placeholder_4_3_qc5qb9.png");
      background-size: cover;
      height: 35rem;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100%;
      color: #ffffff;
     
     
      z-index: -10;
      opacity: 0.8;
      padding-top: 80px;

         
      
}
.first_header_text{

}
.input-control{
    max-width: 40rem;
}
.first_header_items{
   
 padding-bottom:80px;
}

.suggested_test{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
}
.imageButton{
    outline: none;
    background-color: #000080;
    border: none;
    color: #ffffff;
    font-weight: 800;
    
    margin-top: 40px;

}
.image_card button{
padding-top: -30px;     
}
.course,.instructor,.Features_text{
    color: #ffffff;
    text-align: center;
}
.suggested_container{
    margin-left: 15px;
}

.form input[type="text"]{
    background:rgba(0,0,0,0);
    
    color:#fff;
    border: 2px solid #ffffff;
    outline: none;
    width: 20rem;
    height: 2.5rem;
}
.form ::placeholder{
    margin-left: 10px;
    color:#fff;

    
}
.form button{
 
    background:#ffa500;
    color: #ffffff;
    
}
.first_header_items{
    margin-left: 15px;
}


.first_header_text2{
  margin-left: 15px;   
}


.video_card_container{
    margin-top: 15px;
}
.three_steps_text{
    padding-top: 40px;
    
}
.signup{
    background-color: #ffebcd;
    min-height: 50%;
    text-align: center;
    padding-top: 30px;
    color: #000080;
    font-weight: 800;
}
.signup_button{
    margin-top: 20px;
    margin-bottom: 30px;

}
.contact_container{
    background-color: #191970;
    color: #ffffff;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 30px;
}
.contact_img{
    max-width: 50vw;
       padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    height: 50vh;
}
.contact_text{
        padding-top: 25px;
    
}
.quickstart_text{
    text-align: center;
    padding-top: 40px;
}
.guide_img{
       max-width: 60vw;

       padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50vh; 
}
.quickstart_container{
   background-color:#ffad33;
    color: #ffffff;
    font-weight: 800;

}

.Features{
    position: relative;
      background-color: #000080;
        background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -10;
      opacity: 0.8;
      height: 30rem;
      color: #ffffff;
      font-weight: 900;
      text-align: center;
    background-image: url("https://res.cloudinary.com/cmp84378/image/upload/v1611159461/Image_Placeholder_4_3_1_xdwnl1.png");
}
.three_steps{
     margin-left: 15px;
}
.video_container{
    margin-bottom:15px;
}
.img1{
position: relative;
 height:20rem;
 margin-left: 15px;

}
.img2{
    position: absolute;
    top: 8rem;
    left: 10rem;
    z-index: 2;
     height:6rem;
     width:3rem;
     margin-left: 15px;

}
.imge{
     height:20rem;
 margin-left: 15px;
 margin-top: 20px;
}
.Features button{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}
#but{
  background-color:#ffad33;
     color: #ffffff;
   padding-left: 30px;
   width:10rem;
}
#but3{
     background-color:#ffad33;

    height: 4rem;
    color: #ffffff;
    font-weight: 800;
}
#but1,#but2{
    background-color:#000080;
     color: #ffffff;
     margin-left: 15px;
}
#but7{
    background-color:#000080;
    margin-bottom: 50px;
    margin-top: 20px;
    width:15rem;
    font-weight: 800;
    color: #ffffff;
}
#but6{
    background-color:#ffad33;
    width:10rem;
    color: #ffffff;
}
#but5{
    background-color:#000080;
    width:10rem;
    margin-left: 20%;
    color: #ffffff;
}
#but4{
    background-color: #000d1a;
    color: #ffffff;
    margin-bottom: 40px;
}

/* Footer starts here*/


/* Footer starts here*/

